In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\99jib\OneDrive\Desktop\Python  Practice\mckinsey.csv")

In [12]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [3]:
df.head()

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [4]:
df.tail()

       country  year  population continent  life_exp     gdp_cap
1699  Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487  469.709298

In [15]:
df.shape

(1704, 6)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   year        1704 non-null   int64
 2   population  1704 non-null   int64
 3   continent   1704 non-null   object
 4   life_exp    1704 non-null   float64
 5   gdp_cap     1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [18]:
df.columns

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [19]:
df.keys

<bound method NDFrame.keys of           country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]>

In [6]:
df.index.values

array([   0,    1,    2, ..., 1701, 1702, 1703], shape=(1704,))

In [7]:
df.index= list(range(1,df.shape[0]+1))    # indexing start from 1
df

          country  year  population continent  life_exp     gdp_cap
1     Afghanistan  1952     8425333      Asia    28.801  779.445314
2     Afghanistan  1957     9240934      Asia    30.332  820.853030
3     Afghanistan  1962    10267083      Asia    31.997  853.100710
4     Afghanistan  1967    11537966      Asia    34.020  836.197138
5     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1700     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1701     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1702     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1703     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1704     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [10]:
df.index= np.arange (1,df.shape[0]+1,dtype= 'float')
df

            country  year  population continent  life_exp     gdp_cap
1.0     Afghanistan  1952     8425333      Asia    28.801  779.445314
2.0     Afghanistan  1957     9240934      Asia    30.332  820.853030
3.0     Afghanistan  1962    10267083      Asia    31.997  853.100710
4.0     Afghanistan  1967    11537966      Asia    34.020  836.197138
5.0     Afghanistan  1972    13079460      Asia    36.088  739.981106
...             ...   ...         ...       ...       ...         ...
1700.0     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1701.0     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1702.0     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1703.0     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1704.0     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [14]:
new_index= df.head()
new_index

         country  year  population continent  life_exp     gdp_cap
1.0  Afghanistan  1952     8425333      Asia    28.801  779.445314
2.0  Afghanistan  1957     9240934      Asia    30.332  820.853030
3.0  Afghanistan  1962    10267083      Asia    31.997  853.100710
4.0  Afghanistan  1967    11537966      Asia    34.020  836.197138
5.0  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [16]:
new_index.index= ['a','b','c','d','e']
new_index

       country  year  population continent  life_exp     gdp_cap
a  Afghanistan  1952     8425333      Asia    28.801  779.445314
b  Afghanistan  1957     9240934      Asia    30.332  820.853030
c  Afghanistan  1962    10267083      Asia    31.997  853.100710
d  Afghanistan  1967    11537966      Asia    34.020  836.197138
e  Afghanistan  1972    13079460      Asia    36.088  739.981106