In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\99jib\OneDrive\Desktop\Python  Practice\mckinsey.csv")

In [12]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [3]:
df.head()

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [4]:
df.tail()

       country  year  population continent  life_exp     gdp_cap
1699  Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487  469.709298

In [15]:
df.shape

(1704, 6)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   year        1704 non-null   int64
 2   population  1704 non-null   int64
 3   continent   1704 non-null   object
 4   life_exp    1704 non-null   float64
 5   gdp_cap     1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [18]:
df.columns

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [19]:
df.keys

<bound method NDFrame.keys of           country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]>

In [6]:
df.index.values

array([   0,    1,    2, ..., 1701, 1702, 1703], shape=(1704,))

In [7]:
df.index= list(range(1,df.shape[0]+1))    # indexing start from 1
df

          country  year  population continent  life_exp     gdp_cap
1     Afghanistan  1952     8425333      Asia    28.801  779.445314
2     Afghanistan  1957     9240934      Asia    30.332  820.853030
3     Afghanistan  1962    10267083      Asia    31.997  853.100710
4     Afghanistan  1967    11537966      Asia    34.020  836.197138
5     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1700     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1701     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1702     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1703     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1704     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [10]:
df.index= np.arange (1,df.shape[0]+1,dtype= 'float')
df

            country  year  population continent  life_exp     gdp_cap
1.0     Afghanistan  1952     8425333      Asia    28.801  779.445314
2.0     Afghanistan  1957     9240934      Asia    30.332  820.853030
3.0     Afghanistan  1962    10267083      Asia    31.997  853.100710
4.0     Afghanistan  1967    11537966      Asia    34.020  836.197138
5.0     Afghanistan  1972    13079460      Asia    36.088  739.981106
...             ...   ...         ...       ...       ...         ...
1700.0     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1701.0     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1702.0     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1703.0     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1704.0     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [14]:
new_index= df.head()
new_index

         country  year  population continent  life_exp     gdp_cap
1.0  Afghanistan  1952     8425333      Asia    28.801  779.445314
2.0  Afghanistan  1957     9240934      Asia    30.332  820.853030
3.0  Afghanistan  1962    10267083      Asia    31.997  853.100710
4.0  Afghanistan  1967    11537966      Asia    34.020  836.197138
5.0  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [16]:
new_index.index= ['a','b','c','d','e']
new_index

       country  year  population continent  life_exp     gdp_cap
a  Afghanistan  1952     8425333      Asia    28.801  779.445314
b  Afghanistan  1957     9240934      Asia    30.332  820.853030
c  Afghanistan  1962    10267083      Asia    31.997  853.100710
d  Afghanistan  1967    11537966      Asia    34.020  836.197138
e  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [20]:
df.index = np.arange (1,df.shape[0]+1 , dtype = 'int')
df

          country  year  population continent  life_exp     gdp_cap
1     Afghanistan  1952     8425333      Asia    28.801  779.445314
2     Afghanistan  1957     9240934      Asia    30.332  820.853030
3     Afghanistan  1962    10267083      Asia    31.997  853.100710
4     Afghanistan  1967    11537966      Asia    34.020  836.197138
5     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1700     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1701     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1702     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1703     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1704     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [23]:
ser = df["country"] 
ser.head(20)

1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
5     Afghanistan
6     Afghanistan
7     Afghanistan
8     Afghanistan
9     Afghanistan
10    Afghanistan
11    Afghanistan
12    Afghanistan
13        Albania
14        Albania
15        Albania
16        Albania
17        Albania
18        Albania
19        Albania
20        Albania
Name: country, dtype: object

ser=[12]

In [25]:
ser [5:15]  #  python slicing

6     Afghanistan
7     Afghanistan
8     Afghanistan
9     Afghanistan
10    Afghanistan
11    Afghanistan
12    Afghanistan
13        Albania
14        Albania
15        Albania
Name: country, dtype: object

In [26]:
df.loc[1]

country       Afghanistan
year                 1952
population        8425333
continent            Asia
life_exp           28.801
gdp_cap        779.445314
Name: 1, dtype: object

In [27]:
df.loc[1:3]

       country  year  population continent  life_exp     gdp_cap
1  Afghanistan  1952     8425333      Asia    28.801  779.445314
2  Afghanistan  1957     9240934      Asia    30.332  820.853030
3  Afghanistan  1962    10267083      Asia    31.997  853.100710

In [28]:
df.iloc[1]

country       Afghanistan
year                 1957
population        9240934
continent            Asia
life_exp           30.332
gdp_cap         820.85303
Name: 2, dtype: object

In [29]:
df.iloc[0:2]

       country  year  population continent  life_exp     gdp_cap
1  Afghanistan  1952     8425333      Asia    28.801  779.445314
2  Afghanistan  1957     9240934      Asia    30.332  820.853030

In [5]:
df.iloc[[1,11,22]]

        country  year  population continent  life_exp      gdp_cap
1   Afghanistan  1957     9240934      Asia    30.332   820.853030
11  Afghanistan  2007    31889923      Asia    43.828   974.580338
22      Albania  2002     3508512    Europe    75.651  4604.211737

In [7]:
df.iloc[-1]      # Works and gives last row in dataframe

country         Zimbabwe
year                2007
population      12311143
continent         Africa
life_exp          43.487
gdp_cap       469.709298
Name: 1703, dtype: object

In [12]:
temp = df.set_index("country")
temp

             year  population continent  life_exp     gdp_cap
country
Afghanistan  1952     8425333      Asia    28.801  779.445314
Afghanistan  1957     9240934      Asia    30.332  820.853030
Afghanistan  1962    10267083      Asia    31.997  853.100710
Afghanistan  1967    11537966      Asia    34.020  836.197138
Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...         ...       ...       ...         ...
Zimbabwe     1987     9216418    Africa    62.351  706.157306
Zimbabwe     1992    10704340    Africa    60.377  693.420786
Zimbabwe     1997    11404948    Africa    46.809  792.449960
Zimbabwe     2002    11926563    Africa    39.989  672.038623
Zimbabwe     2007    12311143    Africa    43.487  469.709298

[1704 rows x 5 columns]

In [13]:
temp.loc['Afghanistan']

             year  population continent  life_exp     gdp_cap
country
Afghanistan  1952     8425333      Asia    28.801  779.445314
Afghanistan  1957     9240934      Asia    30.332  820.853030
Afghanistan  1962    10267083      Asia    31.997  853.100710
Afghanistan  1967    11537966      Asia    34.020  836.197138
Afghanistan  1972    13079460      Asia    36.088  739.981106
Afghanistan  1977    14880372      Asia    38.438  786.113360
Afghanistan  1982    12881816      Asia    39.854  978.011439
Afghanistan  1987    13867957      Asia    40.822  852.395945
Afghanistan  1992    16317921      Asia    41.674  649.341395
Afghanistan  1997    22227415      Asia    41.763  635.341351
Afghanistan  2002    25268405      Asia    42.129  726.734055
Afghanistan  2007    31889923      Asia    43.828  974.580338

In [3]:
df.reset_index()

      index      country  year  population continent  life_exp     gdp_cap
0         0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1         1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2         2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3         3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4         4  Afghanistan  1972    13079460      Asia    36.088  739.981106
...     ...          ...   ...         ...       ...       ...         ...
1699   1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700   1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701   1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702   1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703   1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 7 columns]

In [4]:
 df.reset_index(drop=True)  # By using drop=True we can prevent creation of a new column

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [5]:
 df.reset_index(drop=True, inplace=True)

In [3]:
df.loc[4]

country       Afghanistan
year                 1972
population       13079460
continent            Asia
life_exp           36.088
gdp_cap        739.981106
Name: 4, dtype: object

In [4]:
df.head()

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [6]:
le = df['life_exp']
le

0       28.801
1       30.332
2       31.997
3       34.020
4       36.088
         ...
1699    62.351
1700    60.377
1701    46.809
1702    39.989
1703    43.487
Name: life_exp, Length: 1704, dtype: float64

In [7]:
le.mean()

np.float64(59.474439366197174)

In [8]:
le.sum()

np.float64(101344.44467999999)

In [9]:
le.count()

np.int64(1704)

In [10]:
le.min()

np.float64(23.599)

In [11]:
le.max()

np.float64(82.603)